body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(232, 232, 232);
    width: 100%;
    height: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}
header{
    font-size: 40px;
    text-align: center;
    color: white;
    height: 14vh;
    width: 100%;
    background: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    
}
header a{
    margin-top: 35px;
    color: white;
    text-decoration: none;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
}
section{
    margin-left: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top:50px ;
    gap:25px;
}

.imagen{

   border-radius: 10px;
   height: auto;
   width: 58%;
}
.imagen2{
   border-radius: 10px 0 0 10px;
   height: auto;
   width: 42%;
}

.sec_imagenes{
    display:flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: start;
}
span{
    display: flex;
    flex-direction: row;
    gap: 15px ;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.100);
}
.textos{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: bolder;
    font-size:larger;
    padding: 10px;
}
.textos2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.textos2 p{
    color: gray;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.textos2 a{
    text-align: center;
    color:#0000EE;
    font-size: medium;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.desarrollo{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 25px;
}
.u_noticias{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.imagen3{
   border-radius: 10px 0 0 10px;
   height: auto;
   width: 40%;
}
.textos3{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: bolder;
    font-size:xx-large;
    padding: 10px
}
.textos4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.textos4 p{
    color: gray;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.textos4 a{
    text-align: center;
    color:#0000EE;
    font-size: medium;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.textos5 p{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.titulos{
    margin-left: 100px;
    margin-top: 25px;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 51.5vw;
}
.red_sociales{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: large;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    
}
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.red_sociales a{
    font-size: large;
    text-decoration: none;
    color: white;
    
}
.twitter{
    width: 55vh;
    height: 50px;
    display: flex;
    flex-direction: column;
    background: #1da1f2;
    justify-content: center;
    border: 0;
}
.twitter:hover {
    
    transform: scale(1.05); 
    
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.facebook{
    width: 55vh;
    height: 50px;
    display: flex;
    flex-direction: column;
    background: #1877f2;
    justify-content: center;
    border: 0;
}
.facebook:hover {
    
    transform: scale(1.05); 
    
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.youtube{
    width: 55vh;
    height: 50px;
    display: flex;
    flex-direction: column;
    background: #ff0000;
    justify-content: center;
    border: 0;
}
.youtube:hover {
    
    transform: scale(1.05); 
    
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.instagram{
    width: 55vh;
    height: 50px;
    display: flex;
    flex-direction: column;
    background:linear-gradient(to right,#833ab4,#fd1d1d,#fcaf45);
    justify-content: center;
    border: 0;
}
.instagram:hover {
    
    transform: scale(1.05); 
    
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
footer{
    display: flex;
    margin-top: 50px;
    font-size: medium;
    text-align: center;
    justify-content: center;
    color: white;
    height: auto;
    width: 100%;
    background: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form {
    background-color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
form div {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que padding no afecte el ancho total */
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.subs:hover {
    background-color: #0056b3;
}
.absoluto{
    position: absolute;
    top: 400px;
    left: 60px;
    width: 37%;
    display: flex;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.200);
}
.absoluto{
    position: absolute;
    top: 400px;
    left: 60px;
    width: 37%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.200);
}